<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @perf_thread.thread_id %>
</p>

<p>
  <b>Methods (slower first):</b>
  <ul>
  <% @perf_thread.perf_methods.order("perf_methods.total_time DESC").each do |perf_method| %>
    <li><%= link_to perf_method.name, [@app, @perf_benchmark, @perf_test, @perf_thread, perf_method] %></li>
  <% end %>
  </ul>
</p>
